<section class="content-header">
	<div class="content-header-left">
		<h1>Select Customer</h1>
	</div>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">
			<form class="form-horizontal" action="" method="post">
								

				<div class="box box-info">
					<div class="box-body">
						<div class="form-group">
							<label for="" class="col-sm-2 control-label">Select a Customer <span>*</span></label>
							<div class="col-sm-4">
								<select name="cust_id" class="form-control select2">
								
									<option value=""> - </option>
									
								</select>
							</div>
						</div>
						<div class="form-group">
							<label for="" class="col-sm-2 control-label"></label>
							<div class="col-sm-6">
								<button type="submit" class="btn btn-success pull-left" name="form1">Submit</button>
							</div>
						</div>
					</div>
				</div>

			</form>
			
		</div>
	</div>
</section>



<section class="content-header">
	<div class="content-header-left">
		<h1>View All Customer Messages</h1>
	</div>
</section>

<section class="content">
	<div class="row">
		<div class="col-md-12">
			<div class="box box-info">
				<div class="box-body table-responsive">
					<table id="example1" class="table table-bordered table-striped">
						<thead>
							<tr>
								<th width="30">#</th>
								<th width="100">Subject</th>
								<th width="200">Message</th>
								<th width="200">Order Details</th>
							</tr>
						</thead>
						<tbody>
							
								<tr>
									<td></td>
									<td></td>
									<td></td>
									<td></td>
								</tr>
															
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</section>