<section class="content-header">
	<div class="content-header-left">
		<h1>Setup Language</h1>
	</div>
</section>




<section class="content">

  <div class="row">
    <div class="col-md-12">

		
		<div class="callout callout-danger">	
    		<p>
    		  
    		</p>
		</div>
		

		
		<div class="callout callout-success">
		    <p></p>
		</div>
		

        <form class="form-horizontal" action="" method="post">
								
        
        <h3 style="font-size:20px;font-weight:500;">Basic</h3>
		<div class="box box-info">
            <div class="box-body">
            	<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Currency <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[1]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Search Product <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[2]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Search <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[3]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Submit <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[4]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Update <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[5]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Read More <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[6]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Serial <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[7]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Photo <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[8]" value="">
                    </div>
                </div>
            </div>
        </div>

        <h3 style="font-size:20px;font-weight:500;">Login</h3>
		<div class="box box-info">
            <div class="box-body">
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Login <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[9]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Customer Login <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[10]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Click here to login <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[11]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Back to Login Page <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[12]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Logged in as <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[13]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Logout <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[14]" value="">
                    </div>
                </div>
            </div>
        </div>
		
		<h3 style="font-size:20px;font-weight:500;">Registration</h3>
        <div class="box box-info">
            <div class="box-body">
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Register <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[15]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Customer Registration <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[16]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Registration Successful <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[17]" value="">
                    </div>
                </div>
            </div>
        </div>
		
		<h3 style="font-size:20px;font-weight:500;">Cart and Checkout</h3>
        <div class="box box-info">
            <div class="box-body">
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Cart <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[18]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">View Cart <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[19]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Update Cart <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[20]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Add to Cart <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[154]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Back to Cart <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[21]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Checkout <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[22]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Proceed to Checkout <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[23]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Please login as customer to checkout <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[160]" value="">
                    </div>
                </div>

            </div>
        </div>

		<h3 style="font-size:20px;font-weight:500;">Payment</h3>
        <div class="box box-info">
            <div class="box-body">
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Orders <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[24]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Order History <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[25]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Order Details <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[26]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Payment Date and Time <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[27]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Transaction ID <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[28]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Paid Amount <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[29]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Payment Status <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[30]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Payment Method <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[31]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Payment ID <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[32]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Payment Section <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[33]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Select Payment Method <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[34]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Select a Method <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[35]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">PayPal <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[36]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Stripe <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[37]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Bank Deposit <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[38]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Card Number <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[39]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">CVV <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[40]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Month <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[41]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Year <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[42]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Send to this Details <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[43]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Transaction Information <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[44]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Include transaction id and other information correctly <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[45]" value="">
                    </div>
                </div>				
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Pay Now <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[46]" value="">
                    </div>
                </div>
            </div>
        </div>
		
		<h3 style="font-size:20px;font-weight:500;">Product</h3>
        <div class="box box-info">
            <div class="box-body">				
                
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Product Name <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[47]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Product Details <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[48]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Related Products <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[155]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">See all the related products from below <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[156]" value="">
                    </div>
                </div>			
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Categories <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[49]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Category: <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[50]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">All Products Under <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[51]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Select Size <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[52]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Size <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[157]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Select Color <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[53]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Color <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[158]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Price <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[159]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Product Price <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[54]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Quantity <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[55]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Out of Stock <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[56]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Share This <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[57]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Share This Product <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[58]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Product Description <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[59]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">No Product Found <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[153]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Features <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[60]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Conditions <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[61]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Return Policy <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[62]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Reviews <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[63]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Review <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[64]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Give a Review <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[65]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Write your comment (Optional) <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[66]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Submit Review <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[67]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">You already have given a rating! <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[68]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Rating is submitted successfully! <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[163]" value="">
                    </div>
                </div>	
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">You must have to login to give a review <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[69]" value="">
                    </div>
                </div>					
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">No description found <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[70]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">No feature found <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[71]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">No condition found <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[72]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">No return policy found <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[73]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">No Review is Found <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[74]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Customer Name <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[75]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Comment <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[76]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Comments <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[77]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Rating <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[78]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Previous <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[79]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Next <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[80]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Sub Total <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[81]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Total <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[82]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Action <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[83]" value="">
                    </div>
                </div>
            </div>
        </div>
		
		<h3 style="font-size:20px;font-weight:500;">Billing and Shipping</h3>
        <div class="box box-info">
            <div class="box-body">
            	<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Shipping Cost <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[84]" value="">
                    </div>
                </div>
            	<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Continue Shipping <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[85]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Billing Address <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[161]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Update Billing Address <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[86]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Shipping Address <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[162]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Update Shipping Address <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[87]" value="">
                    </div>
                </div>				
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Update Billing and Shipping Info <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[88]" value="">
                    </div>
                </div>				
            </div>
        </div>
		
		<h3 style="font-size:20px;font-weight:500;">Dashboard</h3>
        <div class="box box-info">
            <div class="box-body">
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Dashboard <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[89]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Welcome to the Dashboard <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[90]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Back to Dashboard <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[91]" value="">
                    </div>
                </div>
            </div>
        </div>
		

		<h3 style="font-size:20px;font-weight:500;">Subscribe</h3>
        <div class="box box-info">
            <div class="box-body">
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Subscribe <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[92]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Subscribe To Our Newsletter <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[93]" value="">
                    </div>
                </div>
            </div>
        </div>
		
		<h3 style="font-size:20px;font-weight:500;">Email Address</h3>
        <div class="box box-info">
            <div class="box-body">
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Email Address <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[94]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Enter Your Email Address <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[95]" value="">
                    </div>
                </div>
            </div>
        </div>
		
		<h3 style="font-size:20px;font-weight:500;">Password</h3>
        <div class="box box-info">
            <div class="box-body">
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Password <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[96]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Forget Password <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[97]" value="">
                    </div>
                </div>				
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Retype Password <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[98]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Update Password <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[99]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">New Password <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[100]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Retype New Password <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[101]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Change Password <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[149]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
            </div>
        </div>

       
		
		<h3 style="font-size:20px;font-weight:500;">Customer</h3>
        <div class="box box-info">
            <div class="box-body">
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Full Name <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[102]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Company Name <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[103]" value="">
                    </div>
                </div>                
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Phone Number <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[104]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Address <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[105]" value="">
                    </div>
                </div>               
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Country <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[106]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">City <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[107]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">State <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[108]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Zip Code <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[109]" value="">
                    </div>
                </div>
            </div>
        </div>
		
		<h3 style="font-size:20px;font-weight:500;">Other Information</h3>
        <div class="box box-info">
            <div class="box-body">
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">About Us <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[110]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Featured Posts <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[111]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Popular Posts <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[112]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Recent Posts <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[113]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Contact Information <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[114]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Contact Form <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[115]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Our Office <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[116]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Update Profile <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[117]" value="">
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Send Message <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[118]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Message <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[119]" value="">
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Find Us On Map <span>*</span></label>
                    <div class="col-sm-6">
                        <input type="text" class="form-control" name="lang_value[120]" value="">
                    </div>
                </div>
            </div>
        </div>


        
        

        <h3 style="font-size:20px;font-weight:500;">Error Messages</h3>
        <div class="box box-info">
            <div class="box-body">
            	<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Congratulation! Payment is successful. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[121]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Billing and Shipping Information is updated successfully. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[122]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
            	<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Customer Name can not be empty. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[123]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Phone Number can not be empty. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[124]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Address can not be empty. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[125]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">You must have to select a country. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[126]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">City can not be empty. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[127]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">State can not be empty. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[128]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Zip Code can not be empty. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[129]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Profile Information is updated successfully. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[130]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Email Address can not be empty <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[131]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Email and/or Password can not be empty. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[132]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Email Address does not match. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[133]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Email address must be valid. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[134]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Email Address Already Exists. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[147]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">You email address is not found in our system. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[135]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>                
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Please check your email and confirm your subscription. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[136]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Your email is verified successfully. You can now login to our website. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[137]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Password can not be empty. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[138]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Passwords do not match. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[139]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Please enter new and retype passwords. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[140]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Password is updated successfully. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[141]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">To reset your password, please click on the link below. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[142]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">PASSWORD RESET REQUEST - YOUR WEBSITE.COM <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[143]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">The password reset email time (24 hours) has expired. Please again try to reset your password. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[144]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">A confirmation link is sent to your email address. You will get the password reset information in there. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[145]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
				<div class="form-group">
                    <label for="" class="col-sm-4 control-label">Password is reset successfully. You can now login. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[146]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>    
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Sorry! Your account is inactive. Please contact to the administrator. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[148]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Registration Email Confirmation for YOUR WEBSITE. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[150]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Thank you for your registration! Your account has been created. To active your account click on the link below: <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[151]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label">Your registration is completed. Please check your email address to follow the process to confirm your registration. <span>*</span></label>
                    <div class="col-sm-6">
                        <textarea name="lang_value[152]" class="form-control" cols="30" rows="10" style="height:70px;"></textarea>
                    </div>
                </div>
                              
            </div>
        </div>



        <div class="box box-info">
            <div class="box-body">
                <div class="form-group">
                    <label for="" class="col-sm-4 control-label"></label>
                    <div class="col-sm-6">
                      <button type="submit" class="btn btn-success pull-left" name="form1">Update</button>
                    </div>
                </div>
            </div>
        </div>

        </form>



    </div>
  </div>

</section>